body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: linear-gradient(70deg, rgb(116, 31, 155), rgb(177, 38, 38));
}

#campo-letras {
  font-size: 50px;
}

.invisible {
  display: none;
}

header {
  width: 75%;
  margin: 0px auto;
  text-align: center;
}

header h3 {
  background-color: rgb(179, 124, 205);
  height: 50px;
  line-height: 50px;
  margin-bottom: 50px;
  border: 1px solid rgb(92, 89, 89);
}

button {
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
  background-color: rgba(180, 108, 202, 0.961);
  border: 1px solid rgb(139, 134, 134);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: rgba(241, 122, 122, 0.87);
  border: 2px solid black;
  transform: scale(1.2, 1.2);
}

input {
  width: 95px;
  height: 25px;
  outline: none;
  margin-bottom: 10px;
}

section {
  width: 75%;
  margin: 0px auto; 
}

canvas {
  float: left;
  width: 450px;
  height: 300px;
  background-color: rgb(172, 126, 221);
}
#campo-letras {
  float: left;
  width: 450px;
  text-align: center;  
}
#letras {
  float: left;
  width: 450px;
  height: 223px;
  text-align: center;
}

#letras #btn-buscar {
  width: 80px;
  height: 30px;
  font-size: 10px;
}
#letras #btn-reinicio {
  width: 80px;
  height: 30px;
  font-size: 10px;
}

#letras #buscador {
  width: 75px;
}
